# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

'''
Your Code
'''
import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:
'''
Your Code
'''
animal_type = df.groupby("animal")
animal_type.mean()

        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [4]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.118366  0.685852  0.121399
1  0.229873  0.017629  0.192979
2  0.768070  0.077274  0.535393
3  0.891893  0.149318  0.862740
4  0.839291  0.449936  0.818518

In [5]:
'''
Your Code
'''
df - df.mean()

          0         1         2
0 -0.451132  0.409850 -0.384807
1 -0.339626 -0.258373 -0.313227
2  0.198571 -0.198728  0.029187
3  0.322395 -0.126684  0.356534
4  0.269792  0.173934  0.312312

In [6]:
'''
Your Code
'''
df - df.mean(axis = 1)

          0         1         2   3   4
0 -0.190173  0.539025 -0.338846 NaN NaN
1 -0.078666 -0.129198 -0.267266 NaN NaN
2  0.459530 -0.069553  0.075148 NaN NaN
3  0.583354  0.002491  0.402495 NaN NaN
4  0.530751  0.303108  0.358272 NaN NaN

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [7]:
df

          0         1         2
0  0.118366  0.685852  0.121399
1  0.229873  0.017629  0.192979
2  0.768070  0.077274  0.535393
3  0.891893  0.149318  0.862740
4  0.839291  0.449936  0.818518

In [8]:
'''
Your Code
'''
df.sum(axis = 1).idxmin()

1

In [9]:
'''
Your Code
'''
df.sum().idxmin()

1